main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    background-color: #333;
    color: #fff;
    height: 100vh;
}

.custom-input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    transition: 0.3s;
}

.custom-input:focus {
    border-color: #4CAF50;
    outline: none;
}

.rating_input {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;

}

.rating_input button{
    width: auto;
    padding: 10px 20px;
    height: 50%;
}

.tag_input{
    display: flex;
    gap: 10px;
}

.problems{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333;
    color: #fff;
    /* align-items: center; */
}

.problems_rating{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.problems_rating h2{
    justify-content: center;
    align-items: center;
}

.problems_rating ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.problems_rating li{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.problems_tag{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.problems_tag_list{
    max-height: 50vh;
    overflow-y: scroll;
}

.problems_tag_list ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.problems_tag_list li{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.solved{
    background-color: green;
    color: #000;
    text-decoration: none;
}

.solved:hover{
    background-color: darkgreen;
    color: #fff;
}

.unsolved{
    background-color: red;
    color: #000;
    text-decoration: none;
}

ul {
    width: 100%;
}

ul li {
    display: flex;
    list-style-type: none;
    width: 20rem;
    height: 3rem;
    padding: 10px;
    border-radius: 40px;
    margin-top: 10px;
    overflow-x: scroll;
}

ul a {
    text-decoration: none;
    color: inherit;
}

.unsolved:hover{
    background-color: darkred;
    color: #fff;
}
